// Import Theme
@import "../../scss/theme";


// Component Styles

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

.create-post_form {
    position: relative;
    margin-top: 24px;
    height: 100%;

    .form-input-fields {
        position: relative;
        width: 100%;
        display: inline-block;

        label {
            width: 100%;
            text-align: left;
        }

        textarea, input[type="text"] {
            background-color: $theme-pale-compliment;
            color: $theme-on-pale-compliment;
            border-radius: 1px;

            &:active,
            &:focus {
                border-color: $theme-surface-highlight;
                box-shadow: none;
                outline: none;
            }
        }
    }

    .create-post-button {
        position: relative;
        width: 100%;
        display: inline-block;

        border-color: $theme-surface-secondary;
        color: $theme-surface-secondary;
        border-radius: 1px;

        &:hover {
            background-color: $theme-surface-secondary;
            color: $theme-on-surface-secondary;
        }

        &:active,
        &:focus {
            background-color: $theme-surface-secondary;
            border-color: $theme-surface-secondary;
            color: $theme-on-surface-secondary;
            outline: $theme-surface-secondary;
            box-shadow:  0 0 10px $theme-surface-secondary;
        }
    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {

    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {

        label {
            text-align: left;
        }

        .form-input-fields{
            width: 75%;
        }

        .create-post-button {
            width: auto;
            margin-left: 24px;
        }
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {

    }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {

    }
}
