// Import Theme
@import "../../scss/theme";


// Component Styles

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

.message-item_container {
    position: relative;
    padding-bottom: 48px;
    height: 100%;
    display: flex;
    flex-flow: column;

    .focus-content {
        width: 100%;
        height: 100%;

        .message-content_container {
            position: relative;

            .field-highlight {
                color: $theme-surface-secondary;
            }

            .post-header_container {
                display: block;

                &\+title {
                    width: 100%;
                    display: block;
                    text-align: left;

                    .title-capture {
                        color: $theme-surface-secondary;
                        font-weight:500;
                        letter-spacing: -4px;
                    }
                }

                &\+details {
                    width: 100%;
                    display: block;
                    text-align: left;

                    .author-detail {
                        margin-right: 12px;
                        position: relative;
                        display: inline-block;
                    }

                    .timestamp-detail {
                        position: relative;
                        display: inline-block;
                    }
                }
            }

            .post-body_container {
                width: 100%;
                display: block;

                .post-body_content {
                    margin: 0;
                    padding: 12px 24px;
                    width: 100%;
                    display:block;
                    text-align: left;
                }
            }
        }

        .message-comment_container {

            margin: 0;
            text-align: left;

            .section-title {
                color: $theme-on-background-color;
                font-weight: 500;
            }


            .purple-divider {
                margin: 32px 24px;
                height: 0px;
                border: 0;
                border-bottom: 2px;
                border-style: dashed;
                border-color: $theme-surface-secondary;
                box-shadow: 0 0 10px $theme-under-on-color;
            }
        }

        .purple-divider {
            margin: 32px 24px;
            height: 1px;
            border: 0;
            background: $theme-surface-secondary;
            box-shadow: 0 0 10px $theme-under-on-color;

            &.full-width {
                margin: 32px 0 !important;
            }

            &\+transition {
                @extend .purple-divider;

                height: 0px;
                background-color: transparent;
                border-bottom: 3px;
                border-style: dashed;
                border-color: $theme-surface-secondary;

                &.full-width {
                    margin: 32px 0;
                }
            }
        }

        .back-to-board-button {
            position: relative;
            width: 100%;

            border-color: $theme-surface-primary;
            color: $theme-surface-primary;
            border-radius: 1px;

            &:hover {
                background-color: $theme-surface-primary;
                color: $theme-on-surface-primary;
            }

            &:active,
            &:focus {
                background-color: $theme-surface-primary;
                border-color: $theme-surface-primary;
                color: $theme-on-surface-primary;
                outline: $theme-surface-primary;
                box-shadow:  0 0 10px $theme-surface-primary;
            }
        }
    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {

        .post-body_container {

            .post-body_content {
                width: 100%;
            }
        }

    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {

        .focus-content {

            .message-content_container {

                .post-header_container {
                    margin-top: 48px;
                }
            }
            .purple-divider {

                &.vertical-button-divider {
                    display: none !important;
                }
            }

            .back-to-board-button {
                position: absolute;
                top: 0;
                right: 0;
                margin-right: 24px;
                width: auto;
                float: right
            }
        }
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {

    }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {

    }

}
