// Import Theme
@import "../../scss/theme";


// Component Styles

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

.message-item {
    margin: 8px 0;
    padding: 8px 12px;
    width: 100%;
    display: block;
    position: relative;

    .field-highlight {
        color: $theme-surface-secondary;
    }

    .post-preview_container {
        position: relative;
        display: block;
        text-align: left;

        &\+title {
            display: inline-block;
            width: auto;
            text-align: left;
        }

        &\+excerpt {
            display: none;
            width: auto;
            text-align: left;
        }
    }

    .post-details_container {
        margin: 0;
        padding: 0;
        position: relative;
        display: block;
        width: 100%;
        font-size: 80%;

        &-left {
            margin: 0;
            padding: 0;
            position: relative;
            display: block;
            width: 100%;
            float: left;

            &\+author {
                margin: 0;
                padding: 0;
                display: inline-block;
                width: auto;
                text-align: left;
                float: left;
            }

            &\+comment-count {
                margin: 0;
                padding: 0;
                display: inline-block;
                width: auto;
                text-align: left;
                float: right;
            }
        }

        &-right {
            margin: 0;
            padding: 0;
            position: relative;
            display: none;
            width: auto;
            float: right;

            &\+last-update-timestamp {
                margin: 0;
                padding: 0;
                display:block;
                width: 100%;
                text-align: left;
            }
        }
    }


    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
        margin: 12px 0;
        padding: 12px 16px;
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        margin: 24px 0;
        padding: 12px 24px;

        .post-preview_container {

            &\+title {
               margin-right: 12px;
            }

        }

        .post-details_container {
            width: 100%;
            font-size: 100%;

            &-left{
                width: auto;

                &\+author {
                    margin-right: 12px;
                    float: none;
                }

                &\+comment-count {
                    float: none;
                }
            }

            &-right {
                display: block;
            }
        }
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {

    }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {

    }
}