// Import Theme
@import "../../scss/theme";

// Import Globals
@import "../../scss/core/base";

// Component Styles

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

:global(.message-board_container) {
    margin: 0;
    padding: 0;
    min-height: 100vh;

}

.message-board_container\+inner {
    display: flex;
    margin: 0 8px;
    padding: 12px 0;
    min-height: 100vh;
    border: none;
    text-align: center;

    .content-block {
        margin: 0;
        padding: 8px;
        flex: 1 1 auto;
        width: 100%;
        border: 1px solid #ddd;

        &_inner {
            height: auto;
            width: 100%;
        }
    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
        margin: 0 16px;
        padding: 12px 8px;

        .content-block {
            padding: 16px;

        }

    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        margin: 0 32px;
        padding: 16px;

        .content-block {
            padding: 24px;
        }
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        margin: 0 48px;
        padding: 24px;

        .content-block {
            padding: 24px;
        }
    }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        margin: 0 64px;

        .content-block {
            padding: 24px;
        }
    }
}
