// Base theme file, no file header here avoids a build-up of junk in the index.html file

$theme-background-color:            #ffffff;
$theme-on-background-color:         #353535;
$theme-under-on-color:              #aaaaaa;
$theme-over-on-color:               #666666;

$theme-background-color-inverse:    #353535;
$theme-on-background-color-inverse: #ffffff;

$theme-surface-primary:             #3f3f3f;
$theme-on-surface-primary:          #ffffff;

$theme-surface-secondary:           #a234b2;
$theme-on-surface-secondary:        #ffffff;

$theme-surface-highlight:           #f5ddf9;
$theme-on-surface-highlight:        #353535;

$theme-highlight-compliment:        #bb4ecb;
$theme-on-highlight-compliment:     #ffffff;

$theme-pale-compliment:             #f2f2f2;
$theme-on-pale-compliment:          #000000;

$theme-font-family-primary:           Roboto, sans-serif;
$theme-font-family-code:              Roboto Mono, sans-serif;